@font-face {
  font-family: "Inter-Regular";
  src: url(./assets/fonts/static/Inter-Regular.ttf);
}

body {
  font-family: "Inter-Regular", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: #0c0c0c;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}
.card {
  background-color: #131313;
  width: 260px;
  min-height: 400px;
  border-radius: 10px;
  padding: 20px;
}
img {
  border-radius: 50%;
  width: 25%;
  margin-bottom: 10px;
}
.uk {
  color: #607034;
}
ul {
  margin-block: 10px;
}
li {
  list-style: none;
  margin-block: 15px;
  background-color: #1f1f1f;
  border-radius: 7px;
  padding: 10px;
  text-align: center;
  box-shadow: 5px 5px #00000011;
}
li:hover {
  cursor: pointer;
}
.upper {
  text-align: center;
  margin-block: 20px;
}
h3,
p {
  margin-block: 5px;
}
p,
li {
  font-size: 12px;
}
